<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h5>
          <a class="btn btn-primary" href="/">HOME</a>
          <a class="btn btn-primary" href="/dashboard">DASHBOARD</a>
          {{#if logged_in}}
            <button type="submit" class="btn btn-primary" id="logout">LOGOUT</button>
          {{else}}
            <a class="btn btn-primary" href="/login">LOGIN</a>
            <a class="btn btn-primary" href="/signup">ACCOUNT</a>
          {{/if}}
        </h5>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <br>
      <h1>The Tech Blog</h1>
      <br>
      {{{ body }}}
    </main>
  </div>
  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
