<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{post.user.name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h4>Edit This Blog:</h4>
    <form class="form edit-post-form">
      <div class="form-group">
        <label for="post-name">Title:</label>
        <input class="form-input" type="text" name="post-name" id="post-name" value="{{post.name}}" />
      </div>
      <div class="form-group">
        <label for="post-desc">Description:</label>
        <textarea class="form-input" name="post-desc" id="post-desc">{{post.description}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">UPDATE</button>
      </div>
    </form>
    <br>
    <br>
    <br>
    <h4>Comment This Blog:</h4>
    <form class="form comment-post-form">
      <div class="form-group">
        <textarea class="form-input" name="post-desc" id="post-desc">{{post.description}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">UPDATE</button>
      </div>
    </form>
  </div>
</div>


<script src="/js/editpost.js"></script>
