<!-- displaying articles -->
{{> blog-info blog}}

<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comments</button>
  </div>
</form>
{{/if}}

{{> comments blog.comments}}

{{#if loggedIn}}
<script src="./js/commentBlog.js"></script>
{{/if}}
