h1 {
  text-align-last: center;
  color: #003865;
  font-size: 50px;
}

body {
  background-color: #CEE5D0;
  font-variant: small-caps;
}

.container {
  background-color: #eef2f5;
  width: 400px;
}

.addtxt {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 13px;
  width: 350px;
  background-color: #e5e8ed;
  font-weight: 500;
}

.form-control: focus {
  color: #000;
}

.second {
  width: 350px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 10px 10px 5px #aaaaaa;
}
